/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url("/images/cover-image-dark.png");
  --accent-color: rgba(255, 0, 112, 1);
  --focus-color: rgba(219, 0, 255, 1);
  --paragraph-color: rgba(241, 178, 206, 1);
  --background-color: rgba(0, 0, 40, 1);
}
