/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-height: 668px;
  background-color: var(--background-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.header {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding: var(--sections-paddings);
}

.header__theme-menu {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  align-self: center;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header__theme-menu-button {
  border: none;

  padding: 2px 13px 4px 13px;
  color: var(--accent-color);
  font-family: var(--font-family), monospace;
  font-weight: var(--normal-font-weight);
  font-size: var(--p-font-size);
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
}
.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}
.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}
.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  outline: none;
  text-decoration: underline;
  text-decoration-style: solid 1px var(--accent-color);
  text-underline-offset: 3px;
}
.header-rec {
  position: absolute;
  top: var(--sections-paddings);
  right: 19px;
  display: flex;
  align-items: center;
  height: 26px;
}
.rec {
  display: flex;
  align-items: center;
  color: var(--accent-color);
  font-family: var(--font-family), monospace;
  font-weight: var(--normal-font-weight);
  font-size: var(--p-font-size);
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}
.rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 9px;
  border-radius: 100%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}
.header::before {
  content: "";
  position: absolute;
  top: var(--sections-paddings);
  right: var(--sections-paddings);
  width: 25px;
  height: 25px;
  border: solid 1px var(--accent-color);
  border-bottom: none;
  border-left: none;
}
.header::after {
  content: "";
  position: absolute;
  bottom: var(--sections-paddings);
  left: var(--sections-paddings);
  width: 25px;
  height: 25px;
  border: solid 1px var(--accent-color);
  border-top: none;
  border-right: none;
}
.main-title {
  color: var(--focus-color);
  font-family: var(--font-family), monospace;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: var(--bold-font-weight);
  line-height: 83%;
}
.header-title {
  grid-column: 1/3;
  grid-row: 2;
  text-shadow: 4px 4px 0 var(--accent-color);
}
.header-description {
  grid-column: 1/3;
  grid-row: 3;
  align-self: center;
  height: fit-content;
  inline-size: 100%;
}
.title-decor {
  color: rgba(0, 0, 40, 1);
  font-family: var(--font-family), monospace;
  font-weight: var(--bold-font-weight);
  font-size: var(--p-font-size);
  line-height: 23px;
  background-color: var(--accent-color);
}

.content_questions {
  padding: 40px var(--sections-paddings) 0px var(--sections-paddings);
  background-color: var(--background-color);
  inline-size: 100%;
}
.link {
  position: relative;
  color: var(--paragraph-color);
  text-decoration: none;
}
.link::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 25px;
  height: 24px;
  text-shadow: 2px 2px 0 var(--accent-color);
}
.link:hover {
  text-decoration: underline solid 1px var(--paragraph-color);
  text-underline-offset: 3px;
}
.link:focus {
  outline: none;
}
.link:focus-visible {
  outline: 1px solid var(--paragraph-color);
}
.question_title {
  margin-bottom: var(--padding-mid);
}
.card {
  margin-bottom: var(--padding-mid);
}
.card_title {
  margin-bottom: var(--padding-small);
}
.card:last-child {
  margin-bottom: var(--padding-large);
}
.extra_card_title {
  margin-bottom: var(--padding-mid);
}
.question_title {
  color: var(--accent-color);
  font-family: var(--font-family), monospace;
  font-weight: var(--bold-font-weight);
  font-size: var(--p-font-size);
  line-height: 24px;
}
.card_paragraph {
  color: var(--paragraph-color);
  font-family: var(--font-family), monospace;
  font-weight: var(--normal-font-weight);
  font-size: var(--p-font-size);
  line-height: 23.4px;
}
.card_title_thin {
  font-weight: var(--normal-font-weight);
}
.pictures {
  padding: 0px var(--sections-paddings) 40px var(--sections-paddings);
  background-color: var(--background-color);
}
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--padding-small);
}
.pic {
  grid-column: 1;
  max-width: 100%;
  object-fit: cover;
}
.pictures-title {
  margin-bottom: var(--sections-paddings);
}
.footer {
  position: relative;
  display: grid;
  padding: var(--sections-paddings);
  padding-top: 0px;
  background-color: var(--background-color);
  block-size: 100vh;
  min-block-size: 668px;
}
.footer-title {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}
.footer::before {
  content: "";
  position: absolute;
  top: var(--sections-paddings);
  right: var(--sections-paddings);
  width: 25px;
  height: 25px;
  border: solid 1px var(--accent-color);
  border-bottom: none;
  border-left: none;
}
.footer::after {
  content: "";
  position: absolute;
  bottom: var(--sections-paddings);
  left: var(--sections-paddings);
  width: 25px;
  height: 25px;
  border: solid 1px var(--accent-color);
  border-top: none;
  border-right: none;
}

@media (width >= 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    min-height: 1024px;
  }
  .header-description {
    grid-column: 2;
  }
  .header-rec {
    right: 29px;
  }
  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .content_questions {
    padding-top: 60px;
  }
  .question_list-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .question_title {
    grid-column: 1;
    margin-bottom: 0px;
  }
  .card {
    grid-column: 2;
    margin-bottom: 0px;
  }
  .question_whole-width > .card {
    grid-column: 1/3;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .pictures {
    padding-bottom: 60px;
  }
  .pic {
    height: 100%;
  }

  .sunset-pic {
    grid-column: 1/3;
    grid-row: 1;
  }
  .icecream-pic {
    grid-column: 3;
    grid-row: 1/3;
  }
  .tape-pic {
    grid-column: 1;
    grid-row: 2/4;
  }
  .books-pic {
    grid-column: 2;
    grid-row: 2;
  }
  .street-pic {
    grid-column: 2/4;
    grid-row: 3;
  }
  .footer {
    min-height: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }
  .footer {
    min-height: 768px;
  }
  .header__theme-menu {
    grid-column: 1/3;
    justify-self: center;
    align-self: flex-start;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .question_list-item {
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    grid-column: 2/4;
  }
  .question_whole-width > .card {
    grid-column: inherit;
    grid-row: 2;
  }
}
