/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url("/images/cover-image-dark.png");
  --p-font-size: 18px;
  --font-family: "IBM Plex mono";
  --normal-font-weight: 400;
  --bold-font-weight: 700;
  --accent-color: rgba(255, 0, 112, 1);
  --focus-color: rgba(219, 0, 255, 1);
  --paragraph-color: rgba(241, 178, 206, 1);
  --background-color: rgba(0, 0, 40, 1);
  --padding-large: 50px;
  --padding-mid: 20px;
  --padding-small: 10px;
  --sections-paddings: 10px;
}

@media (width >= 768px) {
  :root {
    --sections-paddings: 20px;
    --padding-large: 80px;
  }
}
